.footer {
    background-color: #00ffcc;
    margin: 2rem -2rem 0 -2rem;
    padding: .5rem 0 .5rem 0;
}

.list li {
    display: inline-block;
    margin-left: 11px;
    margin-right: 11px;
    font-size: 0.8em;
}

.list a {
    color: #00bd98;
}
