.nav {
    display: flex;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 1rem;
}

.title {
    flex-grow: 1;
    font-family: 'AvertaStd-Regular';
    font-weight: normal;
    text-align: left;
    color: test;
}

.link {
    composes: text-color from '../global/colors.css';
    text-decoration: none;
}

.navList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
